body {
	display: flex;
	max-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-bottom:300px;
}
footer.page-footer {
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: #eee; 
}

	